
.container {
    display: flex;
    flex-wrap: wrap;
}

.tabs {
    width: 100%;
    display: flex;
}

.tabs > .tab {
    width: 100%;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid grey;
    border-left: .5px solid grey;
    border-bottom: 0;
}

.tabs > .tab.active {
    background-color: white;
}

.tabs > .tab:first-child {
    border-top-left-radius: 10px;
    border-left: 1px solid grey;
}

.tabs > .tab:last-child {
    border-top-right-radius: 10px;
}

.tabContent {
    width: 100%;
    border: 1px solid grey;
    border-radius: 5px;
    min-height: 250px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.tabContent.show {
    display: flex
}

.tabContent.hide {
    display: none
}