@import "../../styles/Global";

.marker {
  &.area {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: $defaultColor;
    color: white;
    border-radius: 5px;
    box-shadow: 0 0 4px 2px #c8c8c8;
    box-sizing: border-box;
    padding: .45rem 0;
    width: 60px;

    &.empty {
      background-color: #a4a4a4;
      color: white;
      border-radius: 5px;
      padding: .5rem 0;
      width: 60px;
      box-shadow: none;
    }

    & .markerLabel {
      &.count {
        right: 0;
        text-align: center;
        font-size: .75rem;
        position: absolute;
        top: -16px;
        background-color: white;
        color: black;
        border: 2.5px solid red;
        padding: .1rem .25rem;
        padding-top: 4px;
        font-weight: bold;
        border-radius: 10px;
      }

      &.address {
        width: 100%;
        text-align: center;
        font-size: .85rem;
        font-weight: 500;
        margin-bottom: .3rem
      }

      &.price {
        width: 100%;
        text-align: center;
        font-size: .9rem;
        font-weight: 500
      }
    }
  }

  &.building {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: $defaultColor;
    box-shadow: 0 0 4px 2px #c8c8c8;
    box-sizing: border-box;
    color: white;
    border-radius: 5px;
    border: 1px solid indianred;
    padding: 10px 5px;
    padding-top: 12.5px;
    min-width: 50px;

    & .markerLabel {
      &.title {
        position: absolute;
        bottom: -25px;
        padding: .1rem .25rem;
        font-size: 14px;
        font-weight: bold;
        white-space: nowrap;
        color: black;
      }

      &.price {
        font-weight: bold;
        font-size: 14px;
        width: 40px;
        text-align: center;
      }

      &.count {
        right: 0;
        text-align: center;
        font-size: .75rem;
        position: absolute;
        top: -16px;
        background-color: white;
        color: black;
        border: 2.5px solid red;
        padding: .1rem .25rem;
        padding-top: 4px;
        font-weight: bold;
        border-radius: 10px;
      }
    }
  }

  &.icon {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: white;
    background-color: #52ae7e;
    border-radius: 5px;
    padding: 3.5px;

    & .markerIcon {
      width: 18px;
      height: 18px;
    }
  }
}

