@import "../../styles/Global";

.marker {
  &.area {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: $defaultColor;
    color: white;
    border-radius: 5px;
    box-shadow: 0 0 4px 2px #c8c8c8;
    box-sizing: border-box;
    padding: .45rem 0;
    width: 60px;

    &.empty {
      background-color: #a4a4a4;
      color: white;
      border-radius: 5px;
      padding: .5rem 0;
      width: 60px;
      box-shadow: none;
    }
  }

  & .markerLabel {
    &.count {
      right: 0;
      text-align: center;
      font-size: .75rem;
      position: absolute;
      top: -16px;
      background-color: white;
      color: black;
      border: 2.5px solid red;
      padding: .1rem .25rem;
      padding-top: 4px;
      font-weight: bold;
      border-radius: 10px;
    }

    &.address {
      width: 100%;
      text-align: center;
      font-size: .85rem;
      font-weight: 500;
      margin-bottom: .3rem
    }

    &.price {
      width: 100%;
      text-align: center;
      font-size: .9rem;
      font-weight: 500
    }
  }

  &.building {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: $defaultColor;
    color: white;
    border-radius: 5px;
    border: 1px solid indianred;
    padding: .25rem 0;
    width: 50px
  }
}

